
     * { box-sizing: border-box; margin: 0; padding: 0; }
    body {
      font-family: 'Jost', sans-serif;
      background: #000000;
      min-height: 100vh;
    }

    .hero_apartado {
      background: linear-gradient(160deg, #1a1209 0%, #0d0a08 50%, #12080d 100%);
    }

    .boton_Colección {
      background: #c9a96e;
      color: #424300;
      border: none;
      padding: 10px 24px;
      font-family: 'Jost', sans-serif;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s;
    }
 
    .boton_descartar {
      background: transparent;
      color: #c9a96e;
      border: 1px solid #c9a96e;
      padding: 9px 22px;
      font-family: 'Jost', sans-serif;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s;
      width: 100%;
    }

    .boton_anadir {
      background: #2a3a1a;
      color: #7ec87e;
      border: 1px solid #4a6a2a;
      padding: 9px 22px;
      font-family: 'Jost', sans-serif;
      font-size: 12px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      cursor: default;
      width: 100%;
    }
 
    .carta_perfume {
      background: #16120d;
      border: 1px solid #000000;
    }

    .nav {
      background: rgba(13, 10, 8, 0.88);
      backdrop-filter: blur(20px);
      border-bottom: 1px solid #2a2218;
      padding: 0 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 64px;
      position: sticky;
      top: 0;
      z-index: 1000;
    }
 
    .panel_desplegable{
      position: fixed;
      right: 0;
      top: 0;
      height: 100%;
      width: 340px;
      background: #12100d;
      border-left: 1px solid #2a2218;
      z-index: 200;
      display: flex;
      flex-direction: column;
      box-shadow: -20px 0 60px rgba(255, 251, 251, 0.53);
    }
 
    .overlay {
      position: fixed;
      inset: 0;
      background: rgba(240, 240, 240, 0.4);
      z-index: 150;
    }

    .productos_encarrito {
      display: flex;
      gap: 12px;
      padding: 12px 0;
      border-bottom: 1px solid #59c92d;
      align-items: center;
    }

 
    .botones_cantidad {
      background: #2a2218;
      border: 1px solid #3a3228;
      color: #e8ddd0;
      width: 28px;
      height: 28px;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
 
    .carrito_vacio {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;
      color: #9a1d40;
      gap: 12px;
    }
 